# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
.vscode

# Eclipse files
.classpath
.project
.settings/

# Maven build directory
target/

# Gradle build directory
build/

lib/
libs/
dependencies/

# macOS files
.DS_Store

# Windows Thumbs.db files
Thumbs.db

# Props files
*.properties
!maven-wrapper.properties
!application.properties